@model Booking
@{
    var events = ViewBag.Event;
}
<h2>Create a new Booking</h2>

<form asp-action="Create" method="post">
    <label>Event: </label>
    <select asp-for="Event.Id">
        @foreach(var evt in events)
        {
            <option value="@evt.Id">@evt.Name</option>     
        }
    </select><br/>
    <label>Name</label>
    <input asp-for="UserName"/>
    <button>Add Booking</button>
</form>
