@model List<EventEase.Models.Booking>

<h2>Bookings</h2>

<ul>
    @foreach(var booking in Model){
        <li><span>@booking.Event.Name</span><br/>
            <span>@booking.UserName</span><br/>
            <a asp-action="Update" asp-route-id="@booking.Id">Update Booking</a>
            <a asp-action="Delete" asp-route-id="@booking.Id">Delete Booking</a>
        </li>
    }
</ul>