@model Event

<h1>Create Event</h1>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="Id"/>
    <label>Name</label>
    <input asp-for="Name"/>
    <br />
    <label>Capacity</label>
    <input type="number" asp-for="Name"/>
    <br />
    <label> Start Date</label>
    <input type="date" asp-for="StartDate"/>
    <br/>
    <label> End Date</label>
    <input type="date" asp-for="EndDate"/>
    <br/>
    <button type="Submit">Create Event</button>
</form>