@model Event
@{
    var venues = ViewBag.Venue as List<Venue>;
}

<h2>Create a new Event</h2>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="Id" />
    <label>Venue: </label>
    <select asp-for="Venue.Id">
        @foreach(var venue in venues)
        {
            <option value="@venue.Id">@venue.Name</option>     
                }
    </select>
    <label>Name</label>
    <input asp-for="Name" />
    <button>Add Event</button>
</form>