@model List<Event>

<h2>Events</h2>

<ul>
    @foreach(var evt in Model)
    {
        <li><span>@evt.Name</span><br/>
            <span>@evt.Venue.Name</span><br/>
            <a asp-action="Update" asp-route-id="@evt.Id">Update Event</a>
            <a asp-action="Delete" asp-route-id="@evt.Id">Delete Event</a>
        </li>
    }
</ul>