@model Event

<h2>Update Event</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id"/>
    <label>Name</label>
    <input asp-for="Name"/>
    <br />
    <label>Capacity</label>
    <input type="number" asp-for="Capacity"/>
    <br />
    <label>Start Date</label>
    <input type="date" asp-for="StartDate"/>
    <br />
    <label>End Date</label>
    <input type="date" asp-for="EndDate"/>
    <br />
    <button type="submit">Submit</button>
</form>